<div class="container overflow-hidden" >
    <div class="row my-4"> 
        {% for post in filtered_posts %}
        <div class="col-12">
            <div class="card border-0" >
                <div class="card-body">
                    <h5 class="card-title">{{ post.tag }}</h5>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <p class="card-text">{{ post.author }}</p>
                    <a href="{{ post.url }}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

